:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ZRoot {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --gutterWidth: 16px;
  --scrollbarWidth: 0px;
  --windowWidth: calc(100vw - var(--scrollbarWidth));
  --layoutWidth: calc(var(--windowWidth) - var(--gutterWidth) * 2);
  --linkWidth: calc(var(--windowWidth) - var(--gutterWidth) * 2);
  --layoutWidthMax: 1000px;
  --columnCountMax: 1;
  --heroColumnCount: 1;
}

@media (min-width: 600px) {
  .ZRoot {
    --columnCountMax: 2;
    --linkWidth: 568px;
  }
}
@media (min-width: 900px) {
  .ZRoot {
    --columnCountMax: 4;
    --heroColumnCount: 2;
    --h1FontSize: 3rem;
    --h2FontSize: 2rem;
  }
}
@media (min-width: 1032px) {
  .ZRoot {
    --layoutWidth: calc(var(--layoutWidthMax));
    --gutterWidth: calc(var(--windowWidth) / 2 - var(--layoutWidth) / 2);
  }
}

.ZMain--Container {
  width: var(--windowWidth);
}

.ZNav--Container {
  width: var(--layoutWidth);
}

.LinkLayout {
  width: var(--linkWidth);
  margin: 0 auto;
  margin-top: 50px;
}

.LinkMonogram {
  display: grid;
  place-items: center;
}

.ZWW {
  width: var(--windowWidth);
}

.LinkCard {
  display: grid;
  grid-template-columns: max-content 1fr;
  place-items: center;
}

.ZChildren--Container {
  width: var(--layoutWidth);
  margin: 0 auto;
  display: grid;
  place-items: center;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
  background-color: black;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.prose pre {
  @apply border text-gray-300 border-gray-800 bg-gray-900;
}

.prose code {
  @apply border text-gray-300 px-1 py-0.5 border-gray-800 rounded-md bg-gray-900;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr max-content max-content max-content;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}
