html {
  min-width: 360px;
  scroll-behavior: smooth;
  background-color: black;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.prose pre {
  @apply border text-gray-300 border-gray-800 bg-gray-900;
}

.prose code {
  @apply border text-gray-300 px-1 py-0.5 border-gray-800 rounded-md bg-gray-900;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}
